body {

    height: 100vh;
       background-size: 100% 100%;
       background-image: url(https://s2-g1.glbimg.com/CEWmFwZUmtY3qOfTIjMt4i6U_Io=/0x0:828x466/984x0/smart/filters:strip_icc/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/R/z/cMP34wTJKL9L3GQ8SblA/zombie-the-last-of-us.jpg);
   }
   
   