

.grupo{
     border-radius: 5px;
     
}

.box-login{
    width: 250px;
    height: auto;
    border: 2px solid #ddd;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border-radius: 5px;
}

.Titulo-Login{
    text-align: center;
    color: var(--cor-primaria);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

input,
#btn-entrar{
    padding: 8px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 2px solid #ddd;
}

#btn-entrar{
    margin-top: 10px;
    background-color: var(--cor-primaria);
    border: none;
    color: #fff;
    font-weight: 600;
}
#btn-entrar:hover{
    cursor: pointer;
    background-color: var(--cor-secundaria);
}
.esqueci-senha{
    text-align: right;
    font-style: italic;
    margin-top: 3px;

}
.esqueci-senha a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: var(--cor-primaria);

}